/*body {
    height: 100vh;
    display: flex;
    font-size: 10px;
    font-family: monospace;
}*/
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
body {
  font-family: "Helvetica", Sans-Serif;
  font-size: 20px;
  /*background-image: url("../images/background-image.jpeg");*/
}
table, th, td {
    font-size: 30px;
    border:1px solid black;
    border-collapse: collapse;
}