<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dicris</title>
</head>
<body>
    <link href="/static/style.css" rel="stylesheet">
    <div class="header">
        <img src="/images/logo.png" alt="DICRIS Logo" style="width:10%;height:10%;">
        <h1>Dicris - Digitálne technológie pre kritické infraštruktúry</h1>
    </div>
    <br>
    <table>
        <caption>Status of individual Models of Dicris platform</caption>
        <tr>
            <th>Model name</th>
            <th>Model status</th>
            <th>Last change</th>
        </tr>
        {% for model in models %}
            <tr>
                <td>{{ model.name }}</td>
                {% if model.status == "critical" %}
                    <td bgcolor= "red">{{ model.status }}</td>
                {% elif model.status == "warning" %}
                    <td bgcolor= "tomato">{{ model.status }}</td>
                {% elif model.status == "moderate" %}
                    <td bgcolor= "orange">{{ model.status }}</td>
                {% elif model.status == "undefined" %}
                    <td bgcolor= "gray">{{ model.status }}</td>
                {% else %}
                    <td bgcolor= "green">{{ model.status }}</td>
                {% endif %}
                <td>{{ model.time }}</td>
            </tr>
        {% endfor %}
    </table> 
</body>
</html>
